# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH LEARNING CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/    @mdn/yari-content-learn

# ----------------------------------------------------------------------------
# ENGLISH LEARNING CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/css/    @mdn/yari-content-learn-css

# ----------------------------------------------------------------------------
# ENGLISH LEARNING SERVER-SIDE CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/server-side/    @mdn/yari-content-learn-server-side

# ----------------------------------------------------------------------------
# ENGLISH TOOLS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/tools/    @mdn/yari-content-tools

# ----------------------------------------------------------------------------
# ENGLISH MDN CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mdn/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @peterbe because the auto-merge GHA workflow will assign @peterbe,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @peterbe
/yarn.lock    @peterbe
