# Order is important: The last matching pattern takes precedence.
# For more detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default owners
* @mdn/content-team

# Default content owners
/files/en-us/ @mdn/web

# MDN Firefox release notes
/files/en-us/mozilla/ @mdn/content-team

# Mozilla Add-ons
/files/en-us/mozilla/add-ons/ @mdn/add-ons

# Accessibility
/files/en-us/web/accessibility/ @mdn/accessibility

# Web API
/files/en-us/web/api/ @mdn/web-api

# CSS
/files/en-us/web/css/ @mdn/css

# HTML
/files/en-us/web/html/ @mdn/web

# HTTP
/files/en-us/web/http/ @mdn/http

# JavaScript
/files/en-us/web/javascript/ @mdn/javascript

# MathML
/files/en-us/web/mathml/ @mdn/mathml

# Templates and sidebars (rari)
/files/jsondata/L10n-Template.json @mdn/engineering

# ============================= CONTROL FILES ============================= #
# The CODEOWNERS file must end with these matches: Any pull request changing
# one or more of these files should be escalated to the owners specified here.

# mdn/content GitHub configuration
/.github/ @mdn/engineering
# Issue templates in .github
/.github/ISSUE_TEMPLATE/ff-project-issue.md @mdn/content-team

# VSCode configuration
/.vscode/              @mdn/engineering
/.vscode/dictionaries/ @mdn/content-team
/.vscode/cspell.json   @mdn/content-team

# Root directory
/* @mdn/engineering
# Markdown files in root directory
/*.md @mdn/content-team
/SECURITY.md @mdn/engineering
# Scripts and Tests
/scripts @mdn/engineering
/tests   @mdn/engineering

# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn/engineering @mdn-bot
/yarn.lock    @mdn/engineering @mdn-bot
