# uncomment to enable the **Open in your editor** button when serving pages locally. Set to your preferred editor (e.g `code` (for VS Code), `idea` (for IntelliJ IDEA), `subl` (for Sublime Text), `atom` (for ATOM), `vim` (for VIM), ect...)
# EDITOR=code