# This .prettierignore file uses .gitignore syntax
# see https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

build/
/files/en-us/_githistory.json
/tests/front-matter_test_files

# A full pass on all Markdown files is being performed.
# The following folders still need a full pass:
/files/en-us/mozilla/add-ons/**/*.md
/files/en-us/web/html/**/*.md
/files/en-us/web/javascript/**/*.md
