# .prettierignore uses .gitignore syntax
# see https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

build/

# Ignore markdown files till full pass is made on each folder
*.md
# The following paths have had a full pass
!files/en-us/glossary/**/*.md
!files/en-us/mdn/**/*.md
!files/en-us/web/api/[a-c]*/**/*.md
!files/en-us/web/api/w*/**/*.md
!files/en-us/web/css/**/*.md
!files/en-us/web/events/**/*.md
!files/en-us/web/guide/**/*.md
!files/en-us/web/http/**/*.md
!files/en-us/web/manifest/**/*.md
!files/en-us/web/media/**/*.md
!files/en-us/web/performance/**/*.md
!files/en-us/web/privacy/**/*.md
!files/en-us/web/security/**/*.md
!files/en-us/web/webdriver/**/*.md
!files/en-us/web/xml/**/*.md
!files/en-us/web/xpath/**/*.md
!files/en-us/web/xslt/**/*.md

# TODO: Prettier is replacing underscores with asterisks, failing MD049
files/en-us/web/api/webxr_device_api/cameras/index.md
