---
title: 'Vue conditional rendering: editing existing todos'
slug: >-
  Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_conditional_rendering
tags:
  - Beginner
  - Frameworks
  - JavaScript
  - Learn
  - client-side
  - conditional rendering
  - v-else
  - v-if
  - vue
---
<div>{{LearnSidebar}}</div>

<div>{{PreviousMenuNext("Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_computed_properties","Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_refs_focus_management", "Learn/Tools_and_testing/Client-side_JavaScript_frameworks")}}</div>

<p class="summary">Now it is time to add one of the major parts of functionality that we're still missing — the ability to edit existing todo items. To do this, we will take advantage of Vue's conditional rendering capabilities — namely <code>v-if</code> and <code>v-else</code> — to allow us to toggle between the existing todo item view, and an edit view where you can update todo item labels. We'll also look at adding functionality to delete todo items.</p>

<table class="learn-box standard-table">
 <tbody>
  <tr>
   <th scope="row">Prerequisites:</th>
   <td>
    <p>Familiarity with the core <a href="/en-US/docs/Learn/HTML">HTML</a>, <a href="/en-US/docs/Learn/CSS">CSS</a>, and <a href="/en-US/docs/Learn/JavaScript">JavaScript</a> languages, knowledge of the <a href="/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Command_line">terminal/command line</a>.</p>

    <p>Vue components are written as a combination of JavaScript objects that manage the app's data and an HTML-based template syntax that maps to the underlying DOM structure. For installation, and to use some of the more advanced features of Vue (like Single File Components or render functions), you'll need a terminal with node + npm installed.</p>
   </td>
  </tr>
  <tr>
   <th scope="row">Objective:</th>
   <td>To learn how to do conditional rendering in Vue.</td>
  </tr>
 </tbody>
</table>

<h2 id="Creating_an_editing_component">Creating an editing component</h2>

<p>We can start by creating a separate component to handle the editing functionality. In your <code>components</code> directory, create a new file called <code>ToDoItemEditForm.vue</code>.  Copy the following code into that file:</p>

<pre class="brush: js">&lt;template&gt;
  &lt;form class="stack-small" @submit.prevent="onSubmit"&gt;
    &lt;div&gt;
      &lt;label class="edit-label"&gt;Edit Name for &amp;quot;\{{label}}&amp;quot;&lt;/label&gt;
      &lt;input :id="id" type="text" autocomplete="off" v-model.lazy.trim="newLabel" /&gt;
    &lt;/div&gt;
    &lt;div class="btn-group"&gt;
      &lt;button type="button" class="btn" @click="onCancel"&gt;
        Cancel
        &lt;span class="visually-hidden"&gt;editing \{{label}}&lt;/span&gt;
      &lt;/button&gt;
      &lt;button type="submit" class="btn btn__primary"&gt;
        Save
        &lt;span class="visually-hidden"&gt;edit for \{{label}}&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/template&gt;
&lt;script&gt;
export default {
  props: {
    label: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      newLabel: this.label
    };
  },
  methods: {
    onSubmit() {
      if (this.newLabel &amp;&amp; this.newLabel !== this.label) {
        this.$emit("item-edited", this.newLabel);
      }
    },
    onCancel() {
      this.$emit("edit-cancelled");
    }
  }
};
&lt;/script&gt;
&lt;style scoped&gt;
.edit-label {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
}
input {
  display: inline-block;
  margin-top: 0.4rem;
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form &gt; * {
  flex: 0 0 100%;
}
&lt;/style&gt;</pre>

<div class="notecard note">
<p><strong>Note</strong>: Walk through the above code then read the below description to make sure you understand everything the component is doing before moving on. This is a useful way to help reinforce everything you've learned so far.</p>
</div>

<p>This code sets up the core of the edit functionality. We create a form with an <code>&lt;input&gt;</code> field for editing the name of our to-do.</p>

<p>There is a "Save" button and a "Cancel" button:</p>

<ul>
 <li>When the "Save" button is clicked, the component emits the new label via an <code>item-edited</code> event.</li>
 <li>When the "Cancel" button is clicked, the component signals this by emitting an <code>edit-cancelled</code> event.</li>
</ul>

<h2 id="Modifying_our_ToDoItem_component">Modifying our <code>ToDoItem</code> component</h2>

<p>Before we can add <code>ToDoItemEditForm</code> to our app, we need to make a few modifications to our <code>ToDoItem</code> component. Specifically, we need to add a variable to track if the item is being edited, and a button to toggle that variable. We’ll also add a <code>Delete</code> button since deletion is closely related.</p>

<p>Update your <code>ToDoItem</code>’s template as shown below.</p>

<pre class="brush: html">&lt;template&gt;
  &lt;div class="stack-small"&gt;
    &lt;div class="custom-checkbox"&gt;
      &lt;input type="checkbox" class="checkbox" :id="id" :checked="isDone"
             @change="$emit('checkbox-changed')" /&gt;
      &lt;label :for="id" class="checkbox-label"&gt;\{{label}}&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="btn-group"&gt;
      &lt;button type="button" class="btn"  @click="toggleToItemEditForm"&gt;
        Edit &lt;span class="visually-hidden"&gt;\{{label}}&lt;/span&gt;
      &lt;/button&gt;
      &lt;button type="button" class="btn btn__danger" @click="deleteToDo"&gt;
        Delete &lt;span class="visually-hidden"&gt;\{{label}}&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;</pre>

<p>We’ve added a wrapper &lt;div&gt; around the whole template for layout purposes.</p>

<p>We've also added "Edit" and "Delete" buttons:</p>

<ul>
 <li>The "Edit" button, when clicked, will toggle displaying the <code>ToDoItemEditForm</code> component so we can use it to edit our todo item, via an event handler function called <code>toggleToItemEditForm()</code>. This handler will set an <code>isEditing</code> flag to true. To do that, we'll need to first define it inside our <code>data()</code> property.</li>
 <li>The "Delete" button, when clicked, will delete the todo item via an event handler function called <code>deleteToDo()</code>. In this handler we’ll emit an <code>item-deleted</code> event to our parent component so the list can be updated.</li>
</ul>

<p>Let's define our click handlers, and the necessary <code>isEditing</code> flag.</p>

<p>Add <code>isEditing</code> below your existing <code>isDone</code> data point:</p>

<pre class="brush: js">data() {
  return {
    isDone: this.done,
    isEditing: false
  };
}</pre>

<p>Now add your methods inside a methods property, right below your <code>data()</code> property:</p>

<pre class="brush: js">methods: {
    deleteToDo() {
      this.$emit('item-deleted');
    },
    toggleToItemEditForm() {
      this.isEditing = true;
    }
  }</pre>

<h2 id="Conditionally_displaying_components_via_vif_and_velse">Conditionally displaying components via <code>v:if</code> and <code>v:else</code></h2>

<p>Now we have an <code>isEditing</code> flag that we can use to signify that the item is being edited (or not). If <code>isEditing</code> is true, we want to use that flag to display our <code>ToDoItemEditForm</code> instead of the checkbox. To do that, we'll use another Vue directive: <code><a href="https://vuejs.org/v2/api/#v-if">v-if</a></code>.</p>

<p>The <code>v-if</code> directive will only render a block if the value passed to it is truthy. This is similar to how an <code>if</code> statement works in JavaScript. <code>v-if</code> also has corresponding <code><a href="https://vuejs.org/v2/api/#v-else-if">v-else-if</a></code> and <code><a href="https://vuejs.org/v2/api/#v-else">v-else</a></code> directives to provide the equivalent of JavaScript <code>else if</code> and <code>else</code> logic inside Vue templates.</p>

<p>It's important to note that <code>v-else</code> and <code>v-else-if</code> blocks need to be the first sibling of a <code>v-if</code>/<code>v-else-if</code> block, otherwise Vue will not recognize them. You can also attach <code>v-if</code> to a <code>&lt;template&gt;</code> tag if you need to conditionally render an entire template.</p>

<p>Lastly, you can use a <code>v-if</code> + <code>v-else</code> at the root of your component to display only one block or another, since Vue will only render one of these blocks at a time. We'll do this in our app, as it will allow us to replace the code that displays our to-do item with the edit form.</p>

<p>First of all add <code>v-if="!isEditing"</code> to the root <code>&lt;div&gt;</code> in your <code>ToDoItem</code> component,</p>

<pre class="brush: html">&lt;div class="stack-small" v-if="!isEditing"&gt;</pre>

<p>Next, below that <code>&lt;div&gt;</code>'s closing tag add the following line:</p>

<pre class="brush: html">&lt;to-do-item-edit-form v-else :id="id" :label="label"&gt;&lt;/to-do-item-edit-form&gt;</pre>

<p>We also need to import and register the <code>ToDoItemEditForm</code> component, so we can use it inside this template. Add this line at the top of your <code>&lt;script&gt;</code> element:</p>

<pre class="brush: js">import ToDoItemEditForm from "./ToDoItemEditForm";</pre>

<p>And add a <code>components</code> property above the <code>props</code> property inside the component object:</p>

<pre class="brush: js">components: {
  ToDoItemEditForm
},</pre>

<p>Now, if you go to your app and click a todo item's "Edit" button, you should see the checkbox replaced with the edit form.</p>

<p><img alt="The todo list app, with Edit and Delete buttons shown, and one of the todos in edit mode, with an edit input and save and cancel buttons shown" src="todo-edit-delete.png" style="border-style: solid; border-width: 1px;"></p>

<p>However, there's currently no way to go back. To fix that, we need to add some more event handlers to our component.</p>

<h2 id="Getting_back_out_of_edit_mode">Getting back out of edit mode</h2>

<p>First, we need to add an <code>itemEdited()</code> method to our <code>ToDoItem</code> component's <code>methods</code>. This method should take the new item label as an argument, emit an <code>itemEdited</code> event to the parent component, and set <code>isEditing</code> to <code>false</code>.</p>

<p>Add it now, below your existing methods:</p>

<pre class="brush: js">itemEdited(newLabel) {
  this.$emit('item-edited', newLabel);
  this.isEditing = false;
}</pre>

<p>Next, we'll need an <code>editCancelled()</code> method. This method will take no arguments and just serve to set <code>isEditing</code> back to <code>false</code>.  Add this method below the previous one:</p>

<pre class="brush: js">editCancelled() {
  this.isEditing = false;
}</pre>

<p>Last for this section, we'll add event handlers for the events emitted by the <code>ToDoItemEditForm</code> component, and attach the appropriate methods to each event.</p>

<p>Update your <code>&lt;to-do-item-edit-form&gt;&lt;/to-do-item-edit-form&gt;</code> call to look like so:</p>

<pre class="brush: js">&lt;to-do-item-edit-form v-else :id="id" :label="label"
                      @item-edited="itemEdited"
                      @edit-cancelled="editCancelled"&gt;
&lt;/to-do-item-edit-form&gt;</pre>

<h2 id="Updating_and_deleting_todo_items">Updating and deleting todo items</h2>

<p>Now we can toggle between the edit form and the checkbox. However, we haven’t actually handled updating the <code>ToDoItems</code> array back in <code>App.vue</code>. To fix that, we need to listen for the <code>item-edited</code> event, and update the list accordingly. We'll also want to handle the delete event so that we can delete todo items.</p>

<p>Add the following new methods to your <code>App.vue</code>'s component object, below the existing methods inside the <code>methods</code> property:</p>

<pre>deleteToDo(toDoId) {
  const itemIndex = this.ToDoItems.findIndex(item =&gt; item.id === toDoId);
  this.ToDoItems.splice(itemIndex, 1);
},
editToDo(toDoId, newLabel) {
  const toDoToEdit = this.ToDoItems.find(item =&gt; item.id === toDoId);
  toDoToEdit.label = newLabel;
}</pre>

<p>Next, we'll add the event listeners for the <code>item-deleted</code> and <code>item-edited</code> events:</p>

<ul>
 <li>For <code>item-deleted</code>, you'll need to pass the <code>item.id</code> to the method.</li>
 <li>For <code>item-edited</code>, you'll need to pass the <code>item.id</code> and the special <code>$event</code> variable. This is a special Vue variable used to pass event data to methods. When using native HTML events (like <code>click</code>), this will pass the native event object to your method.</li>
</ul>

<p>Update the <code>&lt;to-do-item&gt;&lt;/to-do-item&gt;</code> call inside the <code>App.vue</code> template to look like this:</p>

<pre class="brush: js">&lt;to-do-item :label="item.label" :done="item.done" :id="item.id"
            @checkbox-changed="updateDoneStatus(item.id)"
            @item-deleted="deleteToDo(item.id)"
            @item-edited="editToDo(item.id, $event)"&gt;
&lt;/to-do-item&gt;</pre>

<p>And there you have it — you should now be able to edit and delete items from the list!</p>

<h2 id="Fixing_a_small_bug_with_isDone_status">Fixing a small bug with isDone status</h2>

<p>This is great so far, but we've actually introduced a bug by adding in the edit functionality. Try doing this:</p>

<ol>
 <li>Check (or uncheck) one of the todo checkboxes.</li>
 <li>Press the "Edit" button for that todo item.</li>
 <li>Cancel the edit by pressing the "Cancel" button.</li>
</ol>

<p>Note the state of the checkbox after you cancel — not only has the app forgotten the state of the checkbox, but the done status of that todo item is now out of whack. If you try checking (or unchecking) it again, the completed count will change in the opposite way to what you'd expect. This is because the <code>isDone</code> inside <code>data</code> is only given the value <code>this.done</code> on component load.</p>

<p>Fixing this is fortunately quite easy — we can do this by converting our <code>isDone</code> data item into a <a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_computed_properties">computed property</a> — another advantage of computed properties is that they preserve <a href="https://vuejs.org/v2/guide/reactivity.html">reactivity</a>, meaning (among other things) that their state is saved when the template changes like ours is now doing.</p>

<p>So, let's implement the fix:</p>

<ol>
 <li>
  <p>Remove the following line from inside our <code>data()</code> property:</p>

  <pre class="brush: js"><span class="blob-code-inner blob-code-marker"><span class="pl-s1">isDone<span class="pl-k">:</span> <span class="pl-c1">this</span>.<span class="pl-smi">done</span>,</span></span></pre>
 </li>
 <li>
  <p>Add the following block below the data() { } block:</p>

  <pre class="brush: js">computed: {
  isDone() {
    return this.done;
  }
},</pre>
 </li>
</ol>

<p>Now when you save and reload, you'll find that the problem is solved — the checkbox state is now preserved when you switch between todo item templates.</p>

<h2 id="Understanding_the_tangle_of_events">Understanding the tangle of events</h2>

<p>One of the most potentially confusing parts is the tangle of standard and custom events we've used to trigger all the interactivity in our app. To understand this better, it is a good idea to write out a flow chart, description, or diagram of what events are emitted where, where they are being listened for, and what happens as a result of them firing.</p>

<p>For example:</p>

<p><strong>App.vue</strong></p>

<p><code>&lt;to-do-form&gt;</code> listens for:</p>

<ul>
 <li><code>todo-added</code> event emitted by the <code>onSubmit()</code> method inside the <code>ToDoForm</code> component when the form is submitted.<br>
  <strong>Result</strong>: <code>addToDo()</code> method invoked to add new todo item to the <code>ToDoItems</code> array.</li>
</ul>

<p><code>&lt;to-do-item&gt;</code> listens for:</p>

<ul>
 <li><code>checkbox-changed</code> event emitted by the checkbox <code>&lt;input&gt;</code> inside the <code>ToDoItem</code> component when it is checked or unchecked.<br>
  <strong>Result</strong>: <code>updateDoneStatus()</code> method invoked to update done status of associated todo item.</li>
 <li><code>item-deleted</code> event emitted by the <code>deleteToDo()</code> method inside the <code>ToDoItem</code> component when the "Delete" button is pressed.<br>
  <strong>Result</strong>: <code>deleteToDo()</code> method invoked to delete associated todo item.</li>
 <li><code>item-edited</code> event emitted by the <code>itemEdited()</code> method inside the <code>ToDoItem</code> component when the <code>item-edited</code> event emitted by the <code>onSubmit()</code> method inside the <code>ToDoItemEditForm</code> has been successfully listened for. Yes, this is a chain of two different <code>item-edit</code> events!<br>
  <strong>Result</strong>: <code>editToDo()</code> method invoked to update label of associated todo item.</li>
</ul>

<p><strong>ToDoForm.vue</strong></p>

<p><code>&lt;form&gt;</code> listens for <code>submit</code> event.<br>
 <strong>Result</strong>: <code>onSubmit()</code> method is invoked, which checks that the new label is not empty, then emits the <code>todo-added</code> event (which is then listened for inside <code>App.vue</code>, see above), and finally clears the new label <code>&lt;input&gt;</code>.</p>

<p><strong>ToDoItem.vue</strong></p>

<p><code>checkbox</code> <code>&lt;input&gt;</code> listens for <code>change</code> event.<br>
 <strong>Result</strong>: <code>checkbox-changed</code> event emitted when the checkbox is checked/unchecked (which is then listened for inside <code>App.vue</code>; see above).</p>

<p>"Edit" <code>&lt;button&gt;</code> listens for <code>click</code> event.<br>
 <strong>Result</strong>: <code>toggleToItemEditForm()</code> method is invoked, which toggles <code>this.isEditing</code> to <code>true</code>, which in turn displays the todo item's edit form on re-render.</p>

<p>"Delete" <code>&lt;button&gt;</code> listens for <code>click</code> event.<br>
 <strong>Result</strong>: <code>deleteToDo()</code> method is invoked, which emits the <code>item-deleted</code> event (which is then listened for inside <code>App.vue</code>; see above)</p>

<p><code>&lt;to-do-item-edit-form&gt;</code> listens for:</p>

<ul>
 <li><code>item-edited</code> event emitted by the <code>onSubmit()</code> method inside the <code>ToDoItemEditForm</code> component when the form is successfully submitted.<br>
  <strong>Result</strong>: <code>itemEdited()</code> method is invoked, which emits the <code>item-edited</code> event (which is then listened for inside <code>App.vue</code>, see above), and sets <code>this.isEditing</code> back to <code>false</code>, so that the edit form is no longer shown on re-render.</li>
 <li><code>edit-cancelled</code> event emitted by the <code>onCancel()</code> method inside the <code>ToDoItemEditForm</code> component when the "Cancel"  button is clicked.<br>
  <strong>Result</strong>: <code>editCancelled()</code> method is invoked, which sets <code>this.isEditing</code> back to <code>false</code>, so that the edit form is no longer shown on re-render.</li>
</ul>

<p><strong>ToDoItemEditForm.vue</strong></p>

<p><code>&lt;form&gt;</code> listens for <code>submit</code> event.<br>
 <strong>Result</strong>: <code>onSubmit()</code> method is invoked, which checks to see if the new label value is not blank, and not the same as the old one, and if so emits the <code>item-edited</code> event (which is then listened for inside <code>ToDoItem.vue</code>, see above).</p>

<p>"Cancel" <code>&lt;button&gt;</code> listens for <code>click</code> event.<br>
 <strong>Result</strong>: <code>onCancel()</code> method is invoked, which emits the <code>edit-cancelled</code> event (which is then listened for inside <code>ToDoItem.vue</code>, see above).</p>

<h2 id="Summary">Summary</h2>

<p>This article has been fairly intense, and we covered a lot here. We've now got edit and delete functionality in our app, which is fairly exciting. We are nearing the end of our Vue series now. The last bit of functionality to look at is focus management, or put another way, how we can improve our app's keyboard accessibility.</p>

<p>{{PreviousMenuNext("Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_computed_properties","Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_refs_focus_management", "Learn/Tools_and_testing/Client-side_JavaScript_frameworks")}}</p>

<h2 id="In_this_module">In this module</h2>

<ul>
 <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Introduction">Introduction to client-side frameworks</a></li>
 <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Main_features">Framework main features</a></li>
 <li>React
  <ul>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_getting_started">Getting started with React</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_todo_list_beginning">Beginning our React todo list</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_components">Componentizing our React app</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_interactivity_events_state">React interactivity: Events and state</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_interactivity_filtering_conditional_rendering">React interactivity: Editing, filtering, conditional rendering</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_accessibility">Accessibility in React</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_resources">React resources</a></li>
  </ul>
 </li>
 <li>Ember
  <ul>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_getting_started">Getting started with Ember</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_structure_componentization">Ember app structure and componentization</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_interactivity_events_state">Ember interactivity: Events, classes and state</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_conditional_footer">Ember Interactivity: Footer functionality, conditional rendering</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_routing">Routing in Ember</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Ember_resources">Ember resources and troubleshooting</a></li>
  </ul>
 </li>
 <li>Vue
  <ul>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started">Getting started with Vue</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_first_component">Creating our first Vue component</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_rendering_lists">Rendering a list of Vue components</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_methods_events_models">Adding a new todo form: Vue events, methods, and models</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_styling">Styling Vue components with CSS</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_computed_properties">Using Vue computed properties</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_conditional_rendering">Vue conditional rendering: editing existing todos</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_refs_focus_management">Focus management with Vue refs</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_resources">Vue resources</a></li>
  </ul>
 </li>
 <li>Svelte
  <ul>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_getting_started">Getting started with Svelte</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_Todo_list_beginning">Starting our Svelte Todo list app</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_variables_props">Dynamic behavior in Svelte: working with variables and props</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_components">Componentizing our Svelte app</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_reactivity_lifecycle_accessibility">Advanced Svelte: Reactivity, lifecycle, accessibility</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_stores">Working with Svelte stores</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_TypeScript">TypeScript support in Svelte</a></li>
   <li><a href="/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Svelte_deployment_next">Deployment and next steps</a></li>
  </ul>
 </li>
</ul>
