body,
input,
button {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 1vh 1vw;
}

h1 {
  margin: 0 0 2rem 0;
}

#new-period {
  margin: 2rem 0;
  background: lemonchiffon;
  padding: 1rem;
}

#new-period div {
  margin: 1rem 0;
}

#past-periods {
  margin: 2rem 0 0 0;
}
