name: Markdownlint (All files)

on:
  pull_request:
    branches:
      - main
    paths:
      - .markdownlint.json
      - package.json
      - yarn.lock
      - .github/workflows/markdown-lint.yml
      - .github/workflows/markdownlint-problem-matcher.json

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: yarn

      - name: Install all yarn packages
        run: |
          yarn --frozen-lockfile

      - name: Lint markdown files
        run: |
          echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
          yarn lint:md
