name: Check cSpell lists

on:
  pull_request:
    paths:
      - .vscode/dictionaries/*

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .vscode/dictionaries/*
            .nvmrc
            package.json
            package-lock.json
            scripts/sort_and_unique_file_lines.js
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"

      - name: Check if cSpell word lists are in correct order
        run: |
          node scripts/sort_and_unique_file_lines.js --check .vscode/dictionaries
