name: System file changes

on:
  pull_request_target:
    paths:
      - '.github/workflows/**'
      - '.github/CODEOWNERS'
      - '.github/dependabot.yml'
      - 'pr-lint/**'
      - 'scripts/**'
      - package.json
      - yarn.lock

jobs:
  triage:
    # This make sure it only runs on our origin repo
    # and make an exception for Dependabot.
    if: github.repository_owner == 'mdn' && github.event.pull_request.user.login != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Stop anything and everything
        run: |
          # echo "Any PR that edits these files should break the build and expect admin overrides"
          echo "PR user?"
          echo ${{ github.event.pull_request.user.login }}
          echo "PR actor?"
          echo ${{ github.actor }}
          echo "Repository owner?"
          echo ${{ github.repository_owner }}
          echo "PR head?"
          echo ${{ github.event.pull_request.head }}
          echo "PR base?"
          echo ${{ github.event.pull_request.base }}

          # XXX This is temporarily commented out until we understand better
          # how to actually works. We need to test what happens when
          # PRs on forks come in that edit any of these files.
          # exit 1
