name: Test

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "*"
      - "scripts/**"
      - "tests/**"
      - "!**/*.md"

# No GITHUB_TOKEN permissions, as we only use it to increase API limit.
permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Test
        run: npm test
